@model TournamentWebApi.Models.UserLoginModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                <form asp-action="Test" asp-controller="Home">
                    <label asp-for="firstName"></label>
                    <input asp-for="firstName" placeholder="Your name goes here" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>

